@import "css/global.css";
@import "components/footer/footer.css";
@import url(https://fonts.googleapis.com/css?family=Bitter);

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
  
  * {
    box-sizing: border-box;
}
  
.font{

  font-family: 'Bitter';
  font-style: italic;
}
.center_row{

background-color: #F8F8FF;

}
.red {
    background-color: orange
}

.bg-img {
    /* The image used */
    background-image: url("images/oasa2.jpg");
  
    min-height: 500px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
  /* Add styles to the form container */
.container {
    position: absolute;
    left: 0;
    margin: 60px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}
  
  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
  /* Set a style for the submit button */
.btn {
    background-color: #004d40;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
.btn:hover {
    opacity: 1;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}



.calendar{

  margin-left: 40px;
}

.month {
  padding: 70px 25px;
  width: 400px;
  background: #004d40;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  width: 400px;
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 12%;
  color: #666;
  text-align: center;
}

.days {
  width: 400px;
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 14.8%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: red;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.column:hover{
    opacity:0.5;
    border-radius:30px;
}
