@import "../css/global.css";
@import "../components/footer/footer.css";


.content{

	margin-bottom: 200px;
}


.btn{

  background-color:grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
}