<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="../index.php">OASA logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">			
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="#">Διαδρομή</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Δρομολόγια</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Εισιτήρια-κάρτες</a></li>
            <li class="nav-item"><a class="nav-link" href="#">ΑΜΕΑ</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Ανακοινώσεις</a></li>
            <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>
            <li class="nav-item"><a class="nav-link" href="#">για τον ΟΑΣΑ</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="../signup/signup.php"><i class="fa fa-user fa-lg`" aria-hidden="true"></i> Εγγραφή</a></li>
            <li class="nav-item"><a class="nav-link" href="../login/login.php"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Είσοδος</a></li>
        </ul>
    </div>
</nav>