@import "../css/global.css";
@import "../components/footer/footer.css";

/*.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }*/

 /*.btn {

    background-color: grey;

 } */

body {
    /* The image used */
    background-image: url("../images/cpy.jpg");
  
    min-height: 450px;
    /* Center and scale the image nicely */
    background-position: start;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  table {
    table-layout:fixed;
    background-color: rgb(214, 239, 255);
    max-width: 1000px;
}

.table-container {
  max-width: 1500px;
  min-height: 1000px;
}


.accordion {
  background-color: lightsteelblue;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

  font-family: "Verdana";
  font-size: 18px;
  font-weight: Bold;
}


.accordion:hover {
  background-color: darkgray;
}

.accordion:active {
	background-color: darkgray;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: lightgray;
  display: none;
  overflow: hidden;
}
