@import "../css/global.css";
@import "../components/footer/footer.css";

.ticket {
	
	display: flex;
	justify-content: end;

}

.buttons {

	display: flex;
	justify-content: space-between;
}

.cont{

	display: flex;
	justify-content: space-between;
}
.bg-img {
    /* The image used */
    background-image: url("../images/athena.png");
  
    min-height: 300px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
}
 
.cnt {
    position: absolute;
    right: 0;
    margin: 50px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}  


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

  font-family: "Verdana";
  font-size: 18px;
  font-weight: Bold;
}


.accordion:hover {
  background-color: #ccc;
}

accordion:active {
	background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}